.head {
    background-color: black;
    margin-top: 10px;
    width: 1200px;
    height: 210px;
    display: grid;
    justify-content: center;
}

.navbanner {
    display: block;
}

.navbar {
    background-color: gray;
    display: flex;
    width: 1180px;
    height: 80px;
    margin-top: 10px;
}

p {
    margin-left: 10px;
    padding-top: 5px;
}

h1 {
    margin-left: 10px;
}

.logo {
    background-color: rgba(255, 0, 0, 0.498);
    width: 200px;
    height: 60px;
    margin: 10px 0px 0px 10px;
    transition: transform 0.5s ease, background-color 0.5s ease;
}

.logo:hover {
    background-color: rgb(253, 28, 28);
    transform: scale(1.1);
}


.nav {
    background-color: rgba(255, 0, 0, 0.498);
    width: 750px;
    height: 60px;
    margin: 10px 0px 0px 10px;
    transition: all 0.5s ease;
}


.social {
    background-color: rgba(255, 0, 0, 0.498);
    width: 200px;
    height: 60px;
    margin: 10px 10px 0px 10px;
    transition: all 0.5s ease;
}


.banner {
    display: flex;
    background-color: orange;
    width: 1180px;
    height: 100px;
    margin-top: 10px;
}

.banner1 {
    background-color: yellow;
    width: 1160px;
    height: 80px;
    margin: 10px;
}

.main {
    background-color: black;
    display: flex;
    margin-top: 10px;
    width: 1200px;
    height: 240px;
}

.info {
    background-color: gray;
    width: 970px;
    height: 220px;
    margin: 10px 0px 10px 10px;
}

.articles {
    display: flex;
    flex-wrap: wrap;

}

.article {
    background-color: rgb(58, 58, 142);
    width: 470px;
    height: 60px;
    margin: 10px 0px 0px 10px;
}

.navigation {
    background-color: aqua;
    display: flex;
    width: 950px;
    height: 60px;
    margin: 10px 0px 0px 10px;

}

.public {
    background-color: rgb(241, 95, 95);
    width: 200px;
    height: 220px;
    margin: 10px 0px 10px 10px;
}

.announc {
    background-color: yellow;
    display: flex;
    flex-wrap: wrap;
    width: 180px;
    height: 60px;
    margin: 10px 0px 0px 10px;
}

.footer {
    background-color: black;
    display: flex;
    margin-top: 10px;
    width: 1200px;
    height: 80px;
}

.pie {
    background-color: rgb(229, 229, 137);
    width: 1180px;
    height: 60px;
    margin: 10px 0px 0px 10px;
}

@media (max-width: 991.98px) {
    
    body{
        background-color: blueviolet;
    }


    .head {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .navbanner {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .navbar {
        width: 97.5%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin: 10px;
        ;
    }

    .logo,
    .nav,
    .social {
        width: 97.5%;
        height: auto;
        margin: 10px 20px 0px 10px;
    }

    .social {
        margin-bottom: 10px;
    }

    .banner {
        width: 97.5%;
        height: auto;
        margin: 0px 0px 10px 10px;
    }

    .banner1 {
        width: 97.5%;
        height: auto;
        margin: 10px;
    }

    .main {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .info {
        width: 97.5%;
        height: auto;
    }

    .articles {
        width: 100%;
        height: auto;
    }

    .article {
        width: 48%;
        height: auto;
    }

    .navigation {
        width: 97.5%;
        height: auto;
        margin-bottom: 10px;
    }

    .public {
        width: 97.5%;
        height: auto;
        margin: 0px 0px 10px 10px;
    }

    .announc {
        width: 97.5%;
        height: auto;
        margin: 10px;
    }

    .footer {
        display: flex;
        width: 100%;
        height: auto;
    }

    .pie {
        width: 100%;
        height: auto;
        margin: 10px;
    }
}

@media (max-width: 575.98px) {

    body{
        background-color: coral;
    }


    .head {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .navbanner {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .navbar {
        width: 93%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin: 10px;
    }

    .logo,
    .nav,
    .social {
        width: 93%;
        height: auto;
    }

    .social {
        margin-bottom: 10px;
    }

    .banner {
        width: 93%;
        height: auto;
        margin: 0px 10px 10px 10px;
    }

    .banner1 {
        width: 94.5%;
        height: auto;
    }

    .main {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .info {
        width: 93%;
        height: auto;
    }

    .article {
        width: 93%;
        height: auto;
    }

    .navigation {
        width: 93%;
        height: auto;
        margin-bottom: 10px;
    }

    .public {
        width: 93%;
        height: auto;
        margin: 0px 0px 10px 10px;
    }

    .announc {
        width: 93%;
        height: auto;
        margin: 10px;
    }

    .footer {
        display: flex;
        width: 100%;
        height: auto;
    }

    .pie {
        width: 100%;
        height: auto;
        margin: 10px;
    }
}